@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
       <div class="content px-5">
            @Body
        </div>
    </div>
</div>
